<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap.min.js"/>
    </head>
    <body id="body">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a data-template="app:title" class="brand">App Title</a>
                    <ul class="nav">
                        <li>
                            <a href="./index.html">Home</a>
                        </li>
                        <li class="dropdown" id="about">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plays</a>
                            <ul data-template="app:menu_plays"/>
                        </li>
                        <li class="dropdown" id="about">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acts</a>
                            <ul data-template="app:menu_acts"/>
                        </li>
                        <li class="dropdown" id="about">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scenes</a>
                            <ul data-template="app:menu_scenes"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
    </body>
</html>